body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}


.square {
    width: 30%;
    background-color: purple;
    /*adding some space between content and div border*/
    padding-bottom: 30%;
    /* makes them to float left*/
    float: left;
    /*margin makes them separate*/
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    --webkit-transition: background 0.6s;
    --moz-transition: background 0.6s;
}

.container {
    margin: 20px auto;
    max-width: 600px;

}

h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
  }

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

#message {
    /*creates a space between there on tab bar*/
    display: inline-block;
    width: 20%;
}
.selected {
    color: white;
    background-color: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%; /*takes 100% of conatiner */
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition:all 0.3s; /*animate changes */
    --webkit-transition: all 0.3s;
    --moz-transition: all 0.3s;
    outline: none; /*to avoid outline put by browser*/

}

button:hover {
    color: white;
    background-color: steelblue;
}